<!DOCTYPE html>
<html ng-app="home" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Cliff demo</title>
    <!-- Latest compiled and minified CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="controller.js"></script>
    <script src="app.js"></script>
  </head>
  <style type="text/css">
    .done{
          text-decoration: line-through;
    }
  </style>
  <body ng-controller='controlDemo01'>
    <section>
      <div class="container">
        <div class="header">
          <h3 class="text-muted">Note</h3>
        </div>
        <div class="container">
          <div class="col-lg-9">
           <form>
           <input class="form-controll" ng-model='newList.name'size="45">
           <button class="btn btn-info" type='submit' ng-click='addList(newList)'>+</button>
           </form>
             <div class="row" ng-repeat='list in lists' >
              <ul class="list-inline">                
               <button class="col-lg-3 btn btn-danger " ng-click='deleteList($index)'  ng-class='{"done":list.done}'>Del</button>
               <button class="col-lg-3 btn btn-primary" ng-click='checked=!checked;edd($index,edit) ' ng-init="checked=false"ng-bind="'Edit'" ></button>
               <span ng-if="list.done" class="animate-if">
                I'm fucked.
               </span>
               <div ng-show="checked"class="ng-hide ">              
               <input class="form-controll" ng-model='list.name'size="34" >
               <button class="col-lg-3 btn btn-primary" type='submit'ng-click='editList($index,list);checked=!checked' ng-bind="'Done'" ></button>

               </div>
               <li>
               <div ng-hide="checked"class="ng-hide">
               <button  class="btn btn-success" ng-bind="($index+1)+'.  '+list.name"ng-click="open(list.name,$index)"></button>                 
               </div>
               </li>
               </ul>   
         
           
              </div >                    
          </div>
        </div>
        <div class="row marketing"></div>        
      </div>
      <!--                      -->      
      <script type="text/ng-template" id="myModalContent.html">
                <div class="modal-header" >
                <h3 class="modal-title">Have you done that?</h3>
                </div>
                <div class="modal-body">

                  <ul>
                      
                     <li ng-bind="'fuck'+list.name"></li>  
                     
                  </ul>   
                </div>
                <div class="modal-footer">
                <button class="btn btn-primary" ng-click="finish(); ">Sure</button>
                <button class="btn btn-warning" ng-click="notyet(); ">Not yet</button>
                </div>
      </script> 
    </section>
  </body>
</html>
