<!DOCTYPE html>
<html ng-app="home" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Cliff demo</title>
    <!-- Latest compiled and minified CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!-- include the core styles -->
    <link rel="stylesheet" href="alertify.js-0.3.11/themes/alertify.core.css" />
    <link rel="stylesheet" href="alertify.js-0.3.11/themes/alertify.bootstrap.css" />
    <!-- include a theme, can be included into the core instead of 2 separate files -->
    <link rel="stylesheet" href="alertify.js-0.3.11/themes/alertify.default.css" />
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.js"></script>
    
    <script src="app.js"></script>
    <script src="controller.js"></script>
    <script src='alertify.js-0.3.11/src/alertify.js'></script>
  </head>
  <style type="text/css">
    .done{
          text-decoration: line-through;
    }
  </style>
  <body ng-controller='demo01'>
    <section>
      <div class="container">
        <div class="header">
          <h3 class="text-muted">Note</h3>
        </div>
        <div class="container">
          <div class="col-lg-9">
           <form>
           <input class="form-controll" ng-model='newList.name'size="45">
           <button class="btn btn-info" type='submit' ng-click='addList(newList)'>+</button>
           </form>
           
             <div class="row" ng-repeat='list in lists' >
             
              <ul class="list-inline">
               <button class="col-lg-3 btn btn-danger " ng-click='deleteList($index)'  ng-class='{"done":list.done}'>Del</button>
               <button class="col-lg-3 btn btn-primary" ng-click='checked=!checked;edd($index,edit) ' ng-init="checked=false"ng-bind="'Edit'" ></button>
            
               <div ng-show="checked"class="ng-hide ">
              
               <input class="form-controll" ng-model='list.name'size="34" >
               <button class="col-lg-3 btn btn-primary" type='submit'ng-click='editList($index,list);checked=!checked' ng-bind="'Done'" ></button>
             
               </div>
               <li>
               <div ng-hide="checked"class="ng-hide">
               <h  class="col-lg-3" ng-bind="($index+1)+'.  '+list.name" ng-class='{"done":list.done}'></h>
             
               </div>
               </li>
               </ul>      
              </div >
           
           
          </div>
        </div>
        <div class="row marketing"></div>
        
      </div>
    </section>
  </body>
</html>
